<section class="w-100">
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input autocomplete="off" matInput [formControl]="search" />
                <mat-icon *ngIf="search.value"
                          matSuffix class="cursor-pointer" (click)="resetSearch()">close</mat-icon>
            </mat-form-field>
        </div>

        <table [dataSource]="applications" class="w-100" mat-table>
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell>ID</th>
                <td *matCellDef="let row" mat-cell>{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="job_id">
                <th *matHeaderCellDef mat-header-cell>Job ID</th>
                <td *matCellDef="let row" mat-cell>
                    <a [routerLink]="['/job', row.job_id]">{{row.job_id}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Name</th>
                <td *matCellDef="let row" mat-cell>{{row.name}}</td>
            </ng-container>

            <ng-container matColumnDef="contact">
                <th *matHeaderCellDef mat-header-cell>Contact</th>
                <td *matCellDef="let row" mat-cell>
                    <div>Phone: {{row.phone}}</div>
                    <div>Email: {{row.email}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="resume">
                <th *matHeaderCellDef mat-header-cell>Resume</th>
                <td *matCellDef="let row" mat-cell>
                    <a mat-stroked-button [href]="row.resume?.url" target="_blank">{{row.resume?.name}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th *matHeaderCellDef mat-header-cell>Date Submitted</th>
                <td *matCellDef="let row" mat-cell>{{row.created_at | date}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell>Status</th>
                <td *matCellDef="let row" mat-cell>
                    <mat-form-field appearance="outline" style="width: 150px">
                        <mat-select (selectionChange)="updateStatus(row, $event)" [value]="row.status">
                            <mat-option value="pending_review">Pending Review</mat-option>
                            <mat-option value="contacted">Contacted</mat-option>
                            <mat-option value="interviewed">Interviewed</mat-option>
                            <mat-option value="hired">Hired</mat-option>
                            <mat-option value="denied">Denied</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" class="table-row"
                mat-row></tr>
        </table>
        <div class="d-flex justify-content-center align-items-center w-100 mt-4" *ngIf="noResults">
            <h2>No Applications Found!</h2>
        </div>
        <mat-paginator
                [pageSize]="1"
                [pageIndex]="currentPage -1"
                [length]="totalItems"
                (page)="pageChangeEvent($event)"

        ></mat-paginator>
    </div>

</section>
